html,
body {
  padding: 0;
  margin: 0;
}

html.dark {
  body {
    @apply bg-slate-900;
  }
}

html.light {
  body {
    @apply bg-white;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
