@use 'sass:map';

$screens: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px,
);

@mixin down($breakpoint) {
  @media (max-width: #{map.get($screens, $breakpoint) - 1}) {
    @content;
  }
}

@mixin up($breakpoint) {
  @media (min-width: map.get($screens, $breakpoint)) {
    @content;
  }
}

@mixin between($breakpoint-min, $breakpoint-max) {
  @media (min-width: map.get($screens, $breakpoint-min)) and (max-width: #{map.get($screens, $breakpoint-max) - 1}) {
    @content;
  }
}
