@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .card {
    @apply bg-slate-200 dark:bg-slate-600 rounded-lg shadow-lg p-4;
  }

  .hover {
    @apply cursor-pointer ease-in-out duration-300;
  }
}
